<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Recommendation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</head>
<body>
    <h1>Movie Recommendation System</h1>

    <div class="radio-group">
        <input type="radio" id="search" name="formToggle" checked onclick="toggleForm('searchForm')">
        <label for="search">Search</label>

        <input type="radio" id="filter" name="formToggle" onclick="toggleForm('filterForm')">
        <label for="filter">Filter</label>

        <input type="radio" id="story" name="formToggle" onclick="toggleForm('storyForm')">
        <label for="story">Story</label>
    </div>

    <form id="searchForm" class="active" action="/recommend" method="POST">
        <p class="form-heading" style="text-align: center;">Search for Movies</p>
        <input type="text" id="movie_name" name="movie_name" oninput="fetchSuggestions(this.value)" list="suggestions" placeholder="Type a movie name..." autocomplete="off">
        <datalist id="suggestions"></datalist>
        <button type="submit">Get Recommendations</button>
    </form>

    <form id="filterForm" action="/filter" method="POST">
        <p class="form-heading">Filter Movies</p>
        <label for="genres">Genres:</label>
        <input type="text" id="genres" name="genres" placeholder="e.g., Action, Comedy">
        <label for="min_rating">Minimum Rating:</label>
        <input type="number" id="min_rating" name="min_rating" step="0.1" placeholder="e.g., 8.0" >
        <label for="year">Year:</label>
        <input type="number" id="year" name="year" placeholder="e.g., 2020">
        <button type="submit">Filter Movies</button>
    </form>

    <form id="storyForm" action="/story" method="POST">
        <p class="form-heading">Story-Based Recommendations</p>
        <label for="story">Enter Movie Storyline:</label>
        <input type="text" id="story" name="story" placeholder="Describe the storyline" autocomplete="off">
        <button type="submit">Get Recommendations</button>
    </form>
    
    {% if message %}
    <p>{{ message }}</p>
{% endif %}
</body>
</html>
