<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommendations</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
    <form id="searchForm" class="form1" action="/recommend" method="POST">
        <p class="form-heading" style="text-align: center;">Search for Movies</p>
        <input type="text" id="movie_name" name="movie_name" oninput="fetchSuggestions(this.value)" list="suggestions" placeholder="Type a movie name...." autocomplete="off" value="{{movie_name}}">
        <datalist id="suggestions"></datalist>
        <button type="submit">Get Recommendations</button>
    </form>
    <h1>Search Resust </h1>
    <ul>
        <li class="li">
            <img src="{{ search.thumbnail }}" alt="{{ search.title }}">
            <p style="color: white;">Rating: <span style="color: yellow;">{{movie.rating}}</span></p>
            <p>{{ search.title }}</p>
        </li>
    </ul>
    <br>
    <h1>Recommendations for "{{ movie_name }}"</h1>
    <ul>
        {% for movie in recommendations %}
        <li>
            <img src="{{ movie.thumbnail }}" alt="{{ movie.title }}">
            <p style="color: white;">Rating: <span style="color: yellow;">{{movie.rating}}</span></p>
            <p>{{ movie.title }}</p>
        </li>
        {% endfor %}
    </ul>
    <a href="/">Back to Home</a>
</body>
</html>